@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  /* Primary Colors */
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* Neutral Colors */
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 2.8rem;
  background: var(--Dark-Blue);
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.card__heading {
    color: var(--Neon-Green);
    font-size: 1.3rem;
    letter-spacing: .4rem;
    padding-top: 2.5rem;
}

.card__paragraph {
    color: var(--Light-Cyan)
}

.card {
    width: 350px;
    background: var(--Dark-Grayish-Blue);
    text-align: center;
    padding: 0 2rem
}

.custom-fill {
    fill: var(--Dark-Blue);
}

.icon__dice {
    background: var(--Neon-Green);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 25px;
    cursor: pointer;
}
